<% for (var i = 0 ; i < users.length ; i++ ){ %>

<tr>
    <td><%= users[i].id1 %></td>
    <td><%= users[i].name %></td>
    <td><%= users[i].gender %></td>
    <td><%= users[i].nric %></td>
    <td><%= users[i].paymentMethod %></td>
    <td><%= users[i].basicSalary %></td>
    <td>    
        <a href="/EmployeeUpdateForm?id=<%= users[i]._id %>" class="btn btn-primary d-inline px-3 py-0 m-1" >
            Update
        </a>

    <div class="anthorDeleteButton">
        <a  class="btn btn-primary d-inline px-3 py-0 m-1 deleteBtn" data-id="<%= users[i]._id%>">
            Delete
        </a>
    </div>
        
    </td>
</tr>

<% } %>